{% extends "layout.html" %}

{% block content %}
    <div class="container text-light"  style="margin-left: 20%;  margin-top: 2%">
    <div style="color: red;" class="pb-2">{{ get_flashed_messages()[0]|safe }}</div>
        <form style="width: 25%;" method="post">
            <div class="mb-2 form-floating">
                {{ form.username(class="form-control bd-dark", id="floatingInput", placeholder="name") }}
                {{ form.username.label(for="floatingInput", class="text-dark") }}
            </div>

            <div class="mb-2 form-floating">
                {{ form.password(type="password", class="form-control", id="floatingPassword", placeholder="password") }}
                {{ form.password.label(for="floatingPassword", class="text-dark") }}
            </div>

            <div class="mb-2 form-floating">
                <input type="password" class="form-control" id="NewPassword" name="new_password" placeholder="new password">
                <label for="NewPassword" class="text-dark">New Password</label>
            </div>

            <input value="change" type="submit" class="w-100 btn btn-lg bg-primary text-light">
        </form>
    </div>
{% endblock %}